html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: 13px;
    font-weight: 400;
    color: #333;
    margin: auto;
    padding: 0;
    min-width: 1200px;
    box-sizing: border-box;

}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu-top {
    width: 100%;
    height: 100px;
    display: inline-flex;
    background-color: #000000;
}

.menu-top>ul {
    list-style: none;
    padding-left: 480px;
}

.menu-top li {
    float: left;
    margin-left: 20px;
    font-size: 20px;
}

.menu-top a {
    text-decoration: none;
    color: white;
}

.menu-top>ul>li>a:hover {
    color: skyblue;
}

.menu-bot {
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 20px;
}

.anh1 {
    background: rgb(231,187,143);
    background: radial-gradient(circle, rgba(231,187,143,0.9447129193474265) 0%, rgba(160,99,37,1) 66%, rgba(149,85,21,0.9783263647255778) 100%);
    width: 35%;
    height: 30%;

}

.container {
    display: flex;
}

.paragh-1 {
    background: rgb(231,187,143);
    background: radial-gradient(circle, rgba(231,187,143,0.9447129193474265) 0%, rgba(160,99,37,1) 66%, rgba(149,85,21,0.9783263647255778) 100%);
    width: 70%;
    color: #000000;
    font-size: 20px;
   padding-left: 40px;
}
.but {
    padding: 30px 100px 100px 120px;
}

.button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    text-decoration: none;
}

.button-17:hover {
    background: #F6F9FE;
    color: #4a6fb2;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #175cd4;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.container2 {
    display: flex;
    background: rgb(176,255,255);
    background: linear-gradient(90deg, rgba(176,255,255,0.9587185215883228) 3%, rgba(153,241,235,0.9727241238292192) 100%, rgba(42,249,250,0.9026961126247374) 100%);
    width: 100%;

}

.paragh-2 {
    background-color: white;
    width: 70%;
    color:green;
    font-size: 20px;
    background: rgb(176,255,255);
background: linear-gradient(90deg, rgba(176,255,255,0.9587185215883228) 3%, rgba(78,217,208,0.9727241238292192) 33%, rgba(42,249,250,0.9026961126247374) 100%);
    padding-right: 40px;
    
}

.paragh-2 h1 {
    color: green;
}

.container3 {
    display: flex;
    width: 100%;
    background: rgb(123,231,130);
background: linear-gradient(90deg, rgba(123,231,130,0) 0%, rgba(130,231,133,0.9727241238292192) 35%, rgba(39,236,38,0.6702031154258579) 100%);
}

.paragh-3 {
    padding-right: 40px;
    background-color: #000000;
    width: 70%;
    color: white;
    font-size: 20px;
    background: rgb(123,231,130);
    background: linear-gradient(90deg, rgba(123,231,130,0) 0%, rgba(130,231,133,0.9727241238292192) 35%, rgba(39,236,38,0.6702031154258579) 100%);
}
